body {margin:0; padding:0; width:100%; min-width:320px; font-family: "open-sans"; font-weight: 300; color:#637175; font-size:18px; overflow-x:hidden;}
a {text-decoration:none; color:#254f5d; outline:0;}
a:hover {text-decoration:none; transition: all 0.5s ease;}
a img {border:0;}
img {vertical-align:top; max-width:100%;}
ul {list-style:none; padding:0; margin:0;}
p {margin:0 0 25px 0; display:inline-block;}
ul, li, ol, fieldset {list-style:none; padding:0; margin:0; border:none;}
input, select, textarea {-webkit-appearance:none; -webkit-border-radius:0px; -moz-border-radius:0px; border-radius:0px;}
input[type="checkbox"] {-webkit-appearance:checkbox;}
input[type="radio"] {-webkit-appearance:radio;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
::-webkit-input-placeholder {color: #000; opacity:1; filter:alpha(opacity=100);}
:-moz-placeholder {color: #000; opacity:1; filter:alpha(opacity=100);}
::-moz-placeholder {color: #000; opacity:1; filter:alpha(opacity=100);}
:-ms-input-placeholder {color: #000; opacity:1; filter:alpha(opacity=100);}
select {-webkit-appearance:none; -moz-appearance:none; appearance: none; -webkit-border-radius:0px; -moz-border-radius:0px; border-radius:0px; text-overflow:""; text-indent:0.01px; background:url(../images/small-arrow.png) no-repeat 92% 20px #fff; font:normal 14px "utopia-std"; padding-bottom:13px; color:#93969a; margin-bottom:30px;}
select:-moz-focusring {color: transparent; text-shadow: 0 0 0 #93969a;}
select::-ms-expand {display:none;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
mark {background:#fff;}
* {box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
*:focus {outline:none;}


/*HEADER*/
#header {padding:25px 10px; background:#fff;}
#header #logo {position:absolute; top:0; left:0; margin-top:-25px; width:237px; z-index:1; margin-left:5%;}
#header #nav {float:right; margin-right:5%;}
#header #nav li {float:left; margin-left:65px; }
#header #nav li a {font-size:16px; color:#1e516f; transition: all 0.5s ease;}
#header #nav li a:hover {color:#7e9198;}

/*FOOTER*/
#footer {background:url(../images/pattern.png) repeat-x center top; min-height:80px; padding:80px 0 50px 0;}
#footer .mid-cont div {float:left; text-align:center;}
#footer .footer-box {padding-top:30px; font-size:14px; line-height:24px;}
#footer .footer-box a {color:#1e516f;}
#social-cont .social-icon {float:left; background:#1e516f; height:22px; margin-right:25px;}
#social-cont .social-icon:hover {background:#7e9198;}
#social-cont {padding-top:35px;}

/*HOMEPAGE*/

/*PRESS CAROUSEL*/
#press .services-divider {margin-bottom:30px;}
#press-cont .cont {text-align:center;}
#press-cont .bx-wrapper {margin:0;}
#press-cont .bx-wrapper .bx-viewport {width:805px !important; height:auto !important; left:40px;}
#press-cont .bx-wrapper .bx-controls-direction a, #portfolio-cont .bx-wrapper .bx-controls-direction a {padding:50px 12px 50px 8px; width:12px; height:21px; position:relative; top:0; left:0; margin-top:-255px;}
#press-cont .bx-wrapper .bx-prev, #portfolio-cont .bx-wrapper .bx-prev {background:url(../images/arrow.png) no-repeat center center #1e516f; float:right; transform:rotate(180deg); -ms-transform:rotate(180deg); -webkit-transform:rotate(180deg); }
#press-cont .bx-wrapper .bx-next, #portfolio-cont .bx-wrapper .bx-next {background:url(../images/arrow.png) no-repeat center center #1e516f; float:left;}
#press-cont .bx-wrapper li {max-width:175px;}
#press-cont .bx-wrapper .bx-pager {display:none;}
#press-cont .bx-wrapper img {width:100%;}
#press-cont .title {color:#3c4244; float:left; width:100%; text-align:center; padding:4px 4px 15px;}
#press-cont li a {font-size:14px; float:left; text-align:center; width:100%;}

/*PORTFOLIO SLIDER*/
#portfolio-cont {background:#f0f0f0; margin-bottom:45px;}
#portfolio-cont #slideshow-wrappergallery1 #imagegallery1 img {height:700px !important; width:auto !important;}
#portfolio-cont #slideshow-wrappergallery1 #fullsizegallery1 {z-index:0;}
#portfolio-cont #slideshow-wrappergallery1 #sliderightgallery1, #portfolio-cont #slideshow-wrappergallery1 #imgnextgallery1 {background:url(../images/arrow.png) no-repeat center center #1e516f; float:right; transform:rotate(180deg); -ms-transform:rotate(180deg); -webkit-transform:rotate(180deg); }
#portfolio-cont #slideshow-wrappergallery1 #slideleftgallery1, #portfolio-cont #slideshow-wrappergallery1 #imgprevgallery1 {background:url(../images/arrow.png) no-repeat center center #1e516f; float:left;}
#portfolio-cont #slideshow-wrappergallery1 #slideareagallery1 {width:calc(100% - 45px);}
#portfolio-cont #slideshow-wrappergallery1 .imgnav {opacity:1 !important; width:20px; height:114px; margin-top:0; top:40%;}
@media screen and (max-width:1100px) {
	#portfolio-cont #slideshow-wrappergallery1 #imagegallery1 img, #portfolio-cont #slideshow-wrappergallery1 #fullsizegallery1 {height:450px !important;}
	
}

/*REUSABLE*/
.mid-cont {position:relative; width:100%; margin:auto; max-width:1280px;}
.cont, .services-divider img {float:left; width:100%;}
.inline {display:inline-block; float:none !important; text-align:center;}
.hidden, .mobile, #main-wrap, #footer, #banner {display:none;}
.last, #social-cont .social-icon:last-child {margin-right:0;}
.table {display:table; height:100%; width:100%;}
.table-cell {display:table-cell; vertical-align:middle; width:100%; height:100%;}
#banner .banner-img {float:left; opacity:.7; filter:alpha(opacity=70); padding-right:1px;}
#about #banner .banner-img {opacity:1; filter:alpha(opacity=100);}
#wrapper {padding:105px 5% 80px 5%;}
#wrapper .page-icon {float:left; padding-right:30px;}
#wrapper .page-header {font-size:36px; color:#3c4244; float:left; width:100%; margin-bottom:25px;}
#wrapper .content {line-height:28px;}
#wrapper .gray-cont {background:#eaeaea; border-radius:10px; margin:15px 0 50px 0; padding:25px 30px 2px 30px; text-align:center;}
#wrapper .gray-cont a, .error404 .copy a, #press-cont li a {color:#254f5d;}
#wrapper .gray-cont a:hover, .error404 .copy a:hover, #press-cont li a:hover {text-decoration:underline;}

.services-divider {text-align:center; margin-bottom:50px;}

/*FONTS*/
.regular, #header #nav li a, #wrapper .gray-cont a, .error404 .copy a, #press-cont li a {font-weight: 400;}
.semi-bold, #footer .footer-box strong {font-weight: 600;}

/*RETINA*/
@media (-webkit-min-device-pixel-ratio: 2) , (min-resolution: 192dpi) {
	#footer {background:url(../images/pattern@2x.png) repeat-x center top; background-size:523px;}
	
}

/*GRIDPAK*/    
.span_1, #footer .divider {width:8.33333333333%;}
.span_2, #social-cont {width:16.6666666667%;}
.span_3, #header #logo, #wrapper .page-icon {width:25.0%;}
.span_4, #home .right-cont, #banner .banner-img.triple, #footer .footer-box {width:33.3333333333%; float:left;}
.span_5 {width:41.6666666667%;}
.span_6, .services-cont .col, #banner .banner-img.double {width:50.0%; float:left;}
.span_7 {width:58.3333333333%;}
.span_8, #home .left-cont {width:66.6666666667%; float:left;}
.span_9, #wrapper .copy {width:75.0%; float:right;}
.span_10 {width:83.3333333333%;}
.span_11 {width:91.6666666667%;}
.span_12, #banner .banner-img.single {margin-left:0; width:100%; float:left;}

.row {margin-left:-35px;}
.col {padding-left:35px;}

@media screen and (max-width:1279px) {
	#press-cont .bx-wrapper .bx-viewport {left:40px; width:615px !important;}
	#press-cont .bx-wrapper li {max-width:185px;}
	#press-cont .bx-wrapper {width:695px;}
}

@media screen and (max-width:1030px) {
	#social-cont .social-icon {margin-right:16px;}
	.services-cont .col {width:100%;}
	#press-cont .bx-wrapper .bx-viewport {left:40px; width:425px !important;}
	#press-cont .bx-wrapper li {max-width:185px;}
	#press-cont .bx-wrapper {width:485px;}

}

@media screen and (max-width:767px) {
	body {font-size:16px;}
	#wrapper .copy, #footer .footer-box, #social-cont {width:100%;}
	.mobile, #portfolio #nav, #banner .banner-img.single:last-child, #banner .banner-img.double:last-child {display:block;}
	.desktop, #banner .banner-img:last-child, #press-cont .bx-controls-direction, #press-cont .bxslider li.bx-clone, #portfolio #mobile-nav, #portfolio-cont #slideshow-wrappergallery1 #thumbnailsgallery1 {display:none;}
	.inline, #mobile-nav ul.menu, #portfolio #nav ul.menu {display:inline-block; float:none; text-align:center;}
	#mobile-nav, #header #nav {background:#1e516f; text-align:center;}
	#mobile-nav li, #header #nav li {float:left; padding:15px 15px 12px; margin:0;}
	#mobile-nav li a, #header #nav li a {color:#fff; font-size:16px; font-weight:300;}
	#banner .banner-img.triple, #banner .banner-img.double:last-child {width:50%;padding-right:0;}
	#header #logo {width:60%; margin-left:0;}
	#main-wrap #wrapper {padding:40px 5%;}
	#wrapper .page-header {font-size:24px;}
	#wrapper .content {line-height:23px;}
	#banner .banner-img.single {padding-right:0;}
	
	/*PORTFOLIO*/
	#portfolio #nav {width:100%; margin:195px 0 40px 0;}
	#portfolio #header {padding:0;}
	#portfolio-cont #slideshow-wrappergallery1 {background:#fff;}
	#portfolio-cont #slideshow-wrappergallery1 #imagegallery1 img, #portfolio-cont #slideshow-wrappergallery1 #fullsizegallery1 {height:350px !important;}
	
	/*PRESS*/
	#press-cont .bxslider, #press-cont .bx-wrapper, #press-cont .bx-wrapper .bx-viewport {width:100% !important;}
	#press-cont .bx-wrapper .bx-viewport {left:0;}
	#press-cont .bx-wrapper li {max-width:100%; width:50% !important; margin-right:0 !important;}
	#press-cont .bx-wrapper li:nth-child(odd) {padding-right:10px;}
	#press-cont .bx-wrapper li:nth-child(even) {padding-left:10px;}
	#press-cont li a {margin-bottom:30px;}
	#press-cont li .info-cont {min-height:120px;}
}

@media screen and (max-width:479px) {
	#press-cont .bx-wrapper li {width:100% !important; padding:0 !important;}
	#press-cont li .info-cont {min-height:95px;}
	#portfolio-cont #slideshow-wrappergallery1 #imagegallery1 img, #portfolio-cont #slideshow-wrappergallery1 #fullsizegallery1 {height:200px !important;}
}
